openapi: 3.0.4
info:
  title: Julian Day Calculator
  description: >-
    Julian Day Calculator converts between Gregorian calendar dates and Julian
    Day Numbers (JDN). Julian Day is a continuous count of days used in
    astronomy and historical research.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/julianday:
    get:
      summary: Convert Gregorian to Julian Day
      description: Convert a Gregorian date to Julian Day Number
      operationId: julianday
      parameters:
        - name: date
          in: query
          schema:
            type: string
          required: true
          description: The Gregorian date in YYYY-MM-DD format
          example: '2024-03-15'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  gregorian: '2024-03-15'
                  julianDayNumber: 2460385
                  modifiedJulianDate: 60384.5
                  dayOfWeek: Friday
                  weekNumber: 11
                  dayOfYear: 75
                  daysFromToday: -340
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
